Strengthen check for name validity.

Currently `zerver.lib.users.check_full_name` is more lax than the RFC standard for the `name` part of `name <email>`. We'd like to be able to send emails to users using `UserProfile.full_name` for `name`.

This involves a few steps:
* Figure out what the standard is, and if python already has a library that implements this check. Maybe in the `email.header` or `email.utils` modules?
* Add this check to `check_full_name`. If you're writing the check from scratch, feel free to err on the side of writing a more-restrictive-than-needed check if it is simpler to understand.
* Write a migration that converts non-valid full names to valid full names (can be hackish, e.g. it can just remove some offending characters. I expect this to be a pretty rare occurance)

While you're looking at this, it would also be great to
* Make sure by the end of this process newlines, tabs, and other such control characters are also not allowed (either via adding them to `UserProfile.NAME_INVALID_CHARS` or via the other parts of `check_full_name`)

As a bonus, or as a followup, it would be great to apply a similar check to `Realm.name`.

Hello @zulip/server-misc members, this issue was labeled with the **area: misc** label, so you may want to check it out!

@zulipbot claim

Congratulations, @rnice01, you've successfully claimed your first issue! Contributing to Zulip will (hopefully) be a fun and rewarding experience, and I'm here to help get you off to a good start.

First things first:
* Join me on the [Zulip developers' server](https://chat.zulip.org), to get help, chat about this issue, and meet the other developers.
* Sign the [Dropbox Contributor License Agreement](https://opensource.dropbox.com/cla/), so that Zulip can use your code.
* [Unwatch this repository](https://help.github.com/articles/unwatching-repositories/), so that you don't get 100 emails a day.

As you work on this issue, you'll also want to refer to the [Zulip code contribution guide](http://zulip.readthedocs.io/en/latest/index.html#code-docs), as well as the rest of the developer documentation on that site.


See you on the other side (that is, the pull request side)!


A requirement for this is that we still support unicode characters in users' names.  I think if that's not possible with the RFC, we'll have to just not include the person's name in the email to line.

Tim,
Yes, the RFC does make things a bit tricky as to what can be used for the
display name portion of the email. Thanks for reviewing, will the PR just
be closed then?

On Thu, May 11, 2017 at 9:23 PM, Tim Abbott <notifications@github.com>
wrote:

> A requirement for this is that we still support unicode characters in
> users' names. I think if that's not possible with the RFC, we'll have to
> just not include the person's name in the email to line.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/zulip/zulip/issues/4676#issuecomment-300966710>, or mute
> the thread
> <https://github.com/notifications/unsubscribe-auth/AK3dUJ93zXCzw9zfrP6uPu9HglB-T6Adks5r48K3gaJpZM4NP9kf>
> .
>


I closed the #4704 PR, since you're right that the code in it isn't going to be mergable.  What we should do instead is the following:

When constructing to lines in `send_email_to_user` (`zerver/lib/send_email.py`), we should basically change `display_email` to return either `Name <email>` or just `email`, depending on whether the user's name contains characters which are not permitted in the name section of emails according to the RFC.

I bet Django's email library has a validation function we can use to do that check correctly in all cases without writing any regular expressions ourselves.

If you'd like to take a crack at doing that, it'd be awesome @rnice01!

Oh, yeah, I didn't even think to check the Django library. I will look into this.

Rob Nice

> On May 16, 2017, at 8:32 PM, Tim Abbott <notifications@github.com> wrote:
> 
> I closed the #4704 PR, since you're right that the code in it isn't going to be mergable. What we should do instead is the following:
> 
> When constructing to lines in send_email_to_user (zerver/lib/send_email.py), we should basically change display_email to return either Name <email> or just email, depending on whether the user's name contains characters which are not permitted in the name section of emails according to the RFC.
> 
> I bet Django's email library has a validation function we can use to do that check correctly in all cases without writing any regular expressions ourselves.
> 
> If you'd like to take a crack at doing that, it'd be awesome @rnice01!
> 
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub, or mute the thread.
> 


I should have been clearer, I meant the later RFCs like https://tools.ietf.org/html/rfc6532. (Not sure if that's the latest or the right one, but at this point there is definitely an RFC for unicode display names.)

Rishig, 6532 does look like that's the latest one in regards to allowable characters for the display name. Here is a brief overview of my findings (according to my understanding anyway :P):

- The RFC 5322 address specification (3.4) considers the display-name a phrase which is one or more words, and words are considered atoms. Strings of characters not allowed in atoms can be represented in a quoted string format. These characters are US-ASCII codes: 1-8, 11, 12, 14-31, 33, 35-91, 93-126, and 127.

- RFC 6532 section 3 explains that to permit non-ASCII Unicode characters in field values the header definition in RFC 5322 has been extended, I would presume that the rules for quoting strings still applies however for the US-ASCII codes stated above. With the syntax extensions both the atoms and quoted strings can now contain UTF8 characters and the NFC unicode normalization is recommended to minimize security issues. Also something to consider is the byte length being exceeded the recommended 998 bytes as specified in RFC 5322.

I propose using Python's email util's formataddr method which "seems" to correctly quote strings containing any of US-ASCII characters defined in the RFC 5322. This of course will need tests. I also found a Python unicodedata library with a normalize method that allows the use of the NFC formatting recommended by RFC 6532. Lastly, checking the byte length of a string containing UTF-8 characters all before determining whether or not to use a user's Full Name as the display-name in an email and sending it in with the formatting methods used above.

What do you guys think?

cool! There's also https://docs.python.org/3/library/email.parser.html#parser-api in Python 3, which I think implements RFC 6532 directly (though I haven't looked too carefully). 

Also, it's possible that Django's `send_mail` is already normalizing, though it would be nice to have the additional guarantee that `parseaddr(formataddr((name, email)))` always does the right thing. Also I think we shouldn't worry too much about disallowing names like `a\nb<c>`, even if the RFC technically allows it; I would prefer to err on the side of just removing weird characters from user names so that we don't have to worry about them anywhere in the app.


Hello @rnice01, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for a week. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 3 days.

If you've decided to work on something else, simply comment `@zulipbot abandon` so that someone else can claim it and continue from where you left off.

Thank you for your valuable contributions to Zulip!


I would like to work on this bug. Could you assign this to me?

@zulipbot  claim

Hello @fossbalaji, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for 10 days. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 4 days.

If you've decided to work on something else, simply comment `@zulipbot abandon` so that someone else can claim it and continue from where you left off.

Thank you for your valuable contributions to Zulip!

<!-- inactiveWarning -->

PR needs review https://github.com/zulip/zulip/pull/7922

Hello @fossbalaji, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for 10 days. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 4 days.

If you've decided to work on something else, simply comment `@zulipbot abandon` so that someone else can claim it and continue from where you left off.

Thank you for your valuable contributions to Zulip!

<!-- inactiveWarning -->

Hello @cbondurant, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for 10 days. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 4 days.

If you've decided to work on something else, simply comment `@zulipbot abandon` so that someone else can claim it and continue from where you left off.

Thank you for your valuable contributions to Zulip!

<!-- inactiveWarning -->

Hello @cbondurant, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for 10 days. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 4 days.

If you've decided to work on something else, simply comment `@zulipbot abandon` so that someone else can claim it and continue from where you left off.

Thank you for your valuable contributions to Zulip!

<!-- inactiveWarning -->

@zulipbot claim

Welcome to Zulip, @dipu989! We just sent you an invite to collaborate on this repository at https://github.com/zulip/zulip/invitations. Please accept this invite in order to claim this issue and begin a fun, rewarding experience contributing to Zulip!

Here's some tips to get you off to a good start:
* Join me on the [Zulip developers' server](https://chat.zulip.org), to get help, chat about this issue, and meet the other developers.
* Sign the [Dropbox Contributor License Agreement](https://opensource.dropbox.com/cla/), so that Zulip can use your code.
* [Unwatch this repository](https://help.github.com/articles/unwatching-repositories/), so that you don't get 100 emails a day.

As you work on this issue, you'll also want to refer to the [Zulip code contribution guide](https://zulip.readthedocs.io/en/latest/contributing/index.html), as well as the rest of the developer documentation on that site.

See you on the other side (that is, the pull request side)!

@rishig 
Sir, How I have understood this problem and am working on it !
Basically we want our pre @ i.e  ___@xyz.com (the part in ___), to be consistent with RFC standards and have to check if it follows the same and have to implement it.
So question is:-
1)  Without using any library, can i implement it.
Source Referred :- a)  https://tools.ietf.org/html/rfc3696
                              b)   https://www.mailboxvalidator.com/resources/articles/acceptable-email-address-syntax-rfc/

2) Conversion of non valid full name to valid one :- 
    I have gone through this link https://stackoverflow.com/questions/3531746/what-s-a-good-python-profanity-filter-library    as well the site WebPurify. I have thought to make a list of possible offensive words that may appear in name part of email. Can you suggest me any other idea to implement this.

      

Hi Dipu, thanks for looking into this. I think you'll want to read the rest of this thread for more context. The relevant RFC is likely RFC 6532, and the first step is to check what Django already provides. 

Thank you Sir.
I will surely check for that.

@zulipbot claim

Is it closed?

@zulipbot claim

@zulipbot claim

Hello @akshaya9, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for 10 days. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 4 days.

If you've decided to work on something else, simply comment `@zulipbot abandon` so that someone else can claim it and continue from where you left off.

Thank you for your valuable contributions to Zulip!

<!-- inactiveWarning -->

@zulipbot claim

Welcome to Zulip, @b-czaszynski! We just sent you an invite to collaborate on this repository at https://github.com/zulip/zulip/invitations. Please accept this invite in order to claim this issue and begin a fun, rewarding experience contributing to Zulip!

Here's some tips to get you off to a good start:
* Join me on the [Zulip developers' server](https://chat.zulip.org), to get help, chat about this issue, and meet the other developers.
* Sign the [Dropbox Contributor License Agreement](https://opensource.dropbox.com/cla/), so that Zulip can use your code.
* [Unwatch this repository](https://help.github.com/articles/unwatching-repositories/), so that you don't get 100 emails a day.

As you work on this issue, you'll also want to refer to the [Zulip code contribution guide](https://zulip.readthedocs.io/en/latest/contributing/index.html), as well as the rest of the developer documentation on that site.

See you on the other side (that is, the pull request side)!

Hello everyone!

I am interested in contributing to an issue #4676 - "Strengthen check for name validity". I might have identified a potential security vulnerability related to email name parsing, and would like someone from the team to confirm it.

Function responsible for name parsing from email (Users.check_full_name) does very little input sanitation (length and 6 disallowed characters). I have traced the data propagation throughout code, and it seems to me that lack of email validation can lead to a Stored Cross-Site Scripting  vulnerability. I believe that this issue shall be expanded, not only to ensure that email address is properly formed, but that it does not contain any malicious strings in it.

I also noticed that there is an LDAP server handling user authentication. Is any input validation performed by that service? By default it already rejects a certain set of characters, so maybe it is not necessary to do it again. Knowing a bit more about interaction with that system could help ;)

Looking forward to contributing to Zulip!
Cheers!

Hello @b-czaszynski, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for 10 days. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 4 days.

If you've decided to work on something else, simply comment `@zulipbot abandon` so that someone else can claim it and continue from where you left off.

Thank you for your valuable contributions to Zulip!

<!-- inactiveWarning -->

@b-czaszynski sorry for the slow reply!  I had thought I'd replied to you the day you posted your original issue, but don't see it here.  In any case, because we render user names using templates that do escaping, I don't think there's a vulnerability here.  But if you believe otherwise, please report using our official security issue report channel.

The change we have in mind here is solely to ban a few characters that might be confusing for users if they appeared in names.

Does this issue still need work?

@zulipbot claim

Welcome to Zulip, @24khxn! We just sent you an invite to collaborate on this repository at https://github.com/zulip/zulip/invitations. Please accept this invite in order to claim this issue and begin a fun, rewarding experience contributing to Zulip!

Here's some tips to get you off to a good start:
* Join me on the [Zulip developers' server](https://chat.zulip.org), to get help, chat about this issue, and meet the other developers.
* Sign the [Dropbox Contributor License Agreement](https://opensource.dropbox.com/cla/), so that Zulip can use your code.
* [Unwatch this repository](https://help.github.com/articles/unwatching-repositories/), so that you don't get 100 emails a day.

As you work on this issue, you'll also want to refer to the [Zulip code contribution guide](https://zulip.readthedocs.io/en/latest/contributing/index.html), as well as the rest of the developer documentation on that site.

See you on the other side (that is, the pull request side)!

Hello @24khxn, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for 10 days. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 4 days.

If you've decided to work on something else, simply comment `@zulipbot abandon` so that someone else can claim it and continue from where you left off.

Thank you for your valuable contributions to Zulip!

<!-- inactiveWarning -->

Hello zulipbot! Still working on it!

@zulipbot claim

Wanna give this another shot

After looking through the current python docs for versions 3.5 and 3.6, as these are the two currently supported versions to my knowledge, I have noticed that while in 3.5 the referenced RFCs are rather old targets, python has re-targeted in 3.6 to support the very RFCs that are referenced here in this issue. 

My first instinct in this case would be that we should put this ticket on-hold. The hope for putting vanity names on top of emails is a low priority issue. Moving over to use python3.6 would allow for a significant rewrite of the mail engine using the newer python mail api that allows for certainty that all parts of the email process are conformant with both RFC 6532 and RFC 5322. Not just addresses but also the body of text (e.g. to be able to send users who have set their language to something other than English properly formatted utf8 content emails in their language)

Soon to be reflected in my PR for this issue: 
python3.5 `formataddr` properly supports standard 2231 and its later revisions, which is a encoding standard for unicode data. This is supported across email providers, and as a result, we can use it for sending emails to users without issue.

Hello @cbondurant, you claimed this issue to work on it, but this issue and any referenced pull requests haven't been updated for 10 days. Are you still working on this issue?

If so, please update this issue by leaving a comment on this issue to let me know that you're still working on it. Otherwise, I'll automatically remove you from this issue in 4 days.

If you've decided to work on something else, simply comment `@zulipbot abandon` so that someone else can claim it and continue from where you left off.

Thank you for your valuable contributions to Zulip!

<!-- inactiveWarning -->

Sounds good; we don't want to desupport Python 3.5, since it'd require us to be be in the business of shipping Python (we currently use the version included with the base OS).

@zulipbot claim 
This issue is actually done I just forgot to finish up on getting it added