"Fetch a single message" request doesn't respect `apply_markdown`

<!-- Describe what you were expecting to see, what you saw instead, and steps to take in order to reproduce the buggy behavior. Screenshots can be helpful. -->

<!-- Check the box for the version of Zulip you are using (see https://zulip.com/help/view-zulip-version).-->

**Zulip Server and web app version:**

- [x] Zulip Cloud (`*.zulipchat.com`)
- [ ] Zulip Server 9.x
- [ ] Zulip Server 8.x
- [ ] Zulip Server 7.x
- [ ] Zulip Server 6.x or older
- [ ] Other or not sure

Hey there! I'm designing a library to handle Zulip communication in Rust. However, I'm having trouble with the ["Fetch a single message" API method](https://zulip.com/api/get-message#fetch-a-single-message) - it doesn't seem to respect the `apply_markdown` parameter as shown below:

```rust
use std::collections::HashMap;

use url::Url;


#[derive(Clone, Debug, serde::Deserialize)]
struct FetchSingleMessageResponse {
    /// An object containing details of the message.
    pub message: Message,
}

#[derive(Clone, Debug, serde::Deserialize)]
struct MessageSendResponse {
    /// This message's unique ID.
    pub id: u64,
}

#[derive(Clone, Debug, serde::Deserialize)]
struct Message {
    // (snip! TONS of fields here, but we'll focus on the content.)
    // ...
    /// The content/body of the message.
    pub content: String,
    /// The unique message ID.
    pub id: u64,
}

#[tokio::main]
async fn main() -> anyhow::Result<()> {
    // grab auth stuff from env
    let email = std::env::var("ZULIP_EMAIL")?;
    let api_key = std::env::var("ZULIP_PERSONAL_KEY")?;
    let server_address = Url::try_from("https://something.zulipchat.com")?;

    // send a message
    let message_content = "*fetch_message*";
    let message_id = send_msg(&email, &api_key, &server_address, message_content).await?;

    // now we'll fetch it from the server
    let apply_markdown: bool = false; // should return markdown, not html!!
    let message = fetch_msg(
        &email,
        &api_key,
        &server_address,
        message_id,
        apply_markdown,
    )
    .await?;

    // check that the contents are the same
    assert_eq!(message_id, message.id);
    assert_eq!(message.content, message_content); // FAILURE!

    Ok(())
}

/// Sends a message and returns its new `id` from the server.
async fn send_msg(
    email: &str,
    api_key: &str,
    server_address: &Url,
    message_content: &str,
) -> anyhow::Result<u64> {
    // make the url
    let url = server_address.clone().join("/api/v1/messages")?;

    // create message parameters
    let mut parameters = HashMap::new();
    parameters.insert("type", "stream");
    parameters.insert("to", "general");
    parameters.insert("content", message_content);
    parameters.insert("topic", "greetings");

    // send the message
    let response = reqwest::Client::new()
        .post(url)
        .basic_auth(email, Some(api_key))
        .form(&parameters)
        .send()
        .await?
        .error_for_status()?;

    // parse the response to grab its id
    Ok(serde_json::from_str::<MessageSendResponse>(&response.text().await?)?.id)
}

/// Fetches and returns a `Message` from the server.
async fn fetch_msg(
    email: &str,
    api_key: &str,
    server_address: &Url,
    message_id: u64,
    apply_markdown: bool,
) -> anyhow::Result<Message> {
    // make the url
    let url = server_address
        .clone()
        .join(format!("/api/v1/messages/{message_id}").as_str())?;

    // create message parameters (it's literally just the boolean)
    let mut parameters = HashMap::new();
    parameters.insert("apply_markdown", apply_markdown);

    // fetch the message
    let response = reqwest::Client::new()
        .get(url)
        .basic_auth(email, Some(api_key))
        .form(&parameters)
        .send()
        .await?
        .error_for_status()?;

    // parse response and return its message
    Ok(serde_json::from_str::<FetchSingleMessageResponse>(&response.text().await?)?.message)
}
```

The failure looks like this: 
```
assertion `left == right` failed
  left: "<p><em>fetch_message</em></p>"
 right: "*fetch_message*"
 ```
 
When you attempt to swap the `bool` to true, you get the same result!

```rust
    let apply_markdown: bool = false; // should return html

	// ...
	assert_eq!("<p><em>fetch_message</em></p>", message.content); // true - this passes :o
```

This issue also occurs when giving "true" and "false" as string values, so I believe it is an issue with the API. Please let me know if I'm missing anything. :)

The documentation states that apply_markdown defaults to true. This explains why you're getting HTML content even when you don't explicitly set the parameter.


Try passing the boolean as a string-:
parameters.insert("apply_markdown", if apply_markdown { "true" } else { "false" });

Yeah, I expect this is an encoding issue of the `apply_markdown` parameter. But I'm a little puzzled why you didn't get an error if your value passed was invalid.

This is a client problem. You’re generating an HTTP request that’s trying to use POST parameters on a GET request with a payload body, which is generally ignored or rejected ([RFC 7231 §4.3.1](https://www.rfc-editor.org/rfc/rfc7231#section-4.3.1)).

```
GET /api/v1/messages/1234 HTTP/1.1
authorization: Basic enVsaXAtZW1haWw6enVsaXAtcGVyc29uYWwta2V5
content-type: application/x-www-form-urlencoded
accept: */*
host: something.zulipchat.com
content-length: 20

apply_markdown=false
```

Do this instead:

```diff
@@ -93,19 +93,17 @@
     apply_markdown: bool,
 ) -> anyhow::Result<Message> {
     // make the url
-    let url = server_address
+    let mut url = server_address
         .clone()
         .join(format!("/api/v1/messages/{message_id}").as_str())?;
 
     // create message parameters (it's literally just the boolean)
-    let mut parameters = HashMap::new();
-    parameters.insert("apply_markdown", apply_markdown);
+    url.query_pairs_mut().append_pair("apply_markdown", "true");
 
     // fetch the message
     let response = reqwest::Client::new()
         .get(url)
         .basic_auth(email, Some(api_key))
-        .form(&parameters)
         .send()
         .await?
         .error_for_status()?;
```

```
GET /api/v1/messages/1234?apply_markdown=true HTTP/1.1
authorization: Basic enVsaXAtZW1haWw6enVsaXAtcGVyc29uYWwta2V5
accept: */*
host: something.zulipchat.com
```

That's very helpful! Thank you for the link 😄